@media (max-width: 1200px) {
  .popular__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 970px) {
  .popular__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 810px) {
  .popular > .container {
    flex-direction: column;
  }

  .sidebar {
    margin-right: 0;
    margin-bottom: 0.7em;
  }

  .sidebar__header {
    display: none;
  }

  .sidebar__toggle {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 543px) {
  .popular__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}