/* Default elements */

html {
  font-family: 'Roboto', sans-serif;

  /* Variables */
  --accent-color: #1780f0;
  --accent-color_lighter: #328ff3;
  --accent-color_darker: #076cd8;

  --light-color: #ffffff;
  --darker-color: #e7e7e7;
  --dark-color: #141414;

  --cta-color: #e64343;

  --border-color: #dddddd;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-color_lighter);
}

a:active {
  color: var(--accent-color_darker);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* ./Default elements */



/* Containers */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 35px;
}

/* ./Containers */



/* Section header */

.section-header {
  text-align: center;
  font-size: 1.7em;
  margin-top: 1em;
  margin-bottom: 0.8em;
}

/* ./Section header */



/* Badge */

.badge {
  background: var(--cta-color);
  color: var(--light-color);

  font-size: 0.7em;
  
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;

  position: absolute;
  top: -1em;
  right: -1em;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ./Badge */



/* Buttons */

.btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 0.3em 0.7em;

  background: var(--accent-color);
  color: var(--light-color);
}

.btn:hover {
  color: var(--light-color);
  background: var(--accent-color_darker);
}

/* ./Buttons */



/* Product card */

.product-card__img {
  border-radius: 3px;
  overflow: hidden;
}

.product-card__img > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-card__title {
  margin-top: 0.7em;
  font-size: 1.4em;
}

.product-card__price {
  margin-top: 0.5em;
}

.product-card__nav {
  margin-top: 0.7em;
}

.product-card__more {
  display: block;
  margin-bottom: 0.5em;
}

/* ./Product card */



/* Sidebar */

.sidebar {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 1.5em 1em;
  margin-right: 1.7em;
  min-width: 230px;
  height: fit-content;
}

.sidebar__header {
  font-size: 1.3em;
  margin-bottom: 0.7em;
}

.sidebar__toggle {
  display: none;
}

.sidebar__list-item {
  margin: 0.3em 0;
  padding: 0.3em 0.5em;
  cursor: pointer;
}

/* ./Sidebar */



/* Glider slider */

.glider-slide > * {
  margin: 0 1em;
}

/* ./Glider slider */



/* Navbar */

.nav {
  padding: 1em 2em;
}

.nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__collapse-btn {
  display: none;
}

.nav__logo {
  text-decoration: none;
  font-size: 1.7em;
  font-weight: 700;
  color: var(--dark-color);
}

.nav__logo:hover {
  color: var(--dark-color);
}

.nav__menu {
  list-style: none;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 1em;
}

.nav__link_cart {
  position: relative;
}

/* ./Navbar */



/* Popular */

.popular > .container {
  display: flex;
  justify-content: space-between;
}

.popular__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 1.4em;
}

/* ./Popular */