/* Default elements */

html {
  font-family: 'Roboto', sans-serif;

  /* Variables */
  --accent-color: #1780f0;
  --accent-color_lighter: #328ff3;
  --accent-color_darker: #076cd8;

  --light-color: #fff;
  --lighter-color: #a9a9a9;
  --dark-color: #141414;
  --darker-color: #212121;

  /* --cta-color: #ef5350; */
  --border-color: #ddd;
  --product-badge-clr: #ef5350;
  --bg-light: #f5f5f5;

  --bg-light2: #f0f0f0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-color_lighter);
}

a:active {
  color: var(--accent-color_darker);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
main {
  margin: 0;
  padding: 0;
}

input,
textarea {
  border: 1px solid var(--border-color);
}

input:focus,
textarea:focus,
select:focus,
option:hover,
input:not(input[type="radio"]) {
  outline: none;
  border: 1px solid var(--accent-color_lighter);
  border-radius: 3px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ./Default elements */


/* Swiper */
.swiper-container {
  height: auto;
  padding-top: 10px;
  padding-bottom: 40px;
}

/* ./Swiper */



/* Containers */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 35px;
}

.container_flex {
  display: flex;
  justify-content: space-between;
}

/* ./Containers */


/* Main */
main {
  min-height: 100vh;
  margin-top: 5em;
}

.main-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-100%);
}

.main-title>h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: .5em;
}

.main-title>p {
  text-align: center;
  font-size: 1.3em
}

/* ./Main */


/* Breadcumbs */
.breadcumbs {
  margin-top: .7em;
}

.breadcumbs li {
  display: inline;
}

.breadcumbs__item {
  color: var(--lighter-color);
}

.breadcumbs li:not(:last-child)>.breadcumbs__item::after {
  content: '>';
  margin-left: .3em;
  color: var(--lighter-color);
}

.breadcumbs__item_active {
  color: var(--accent-color_lighter);
  pointer-events: none;
}

.breadcumbs__item:not(.breadcumbs__item_active):hover {
  color: var(--accent-color);
}

/* ./Breadcumbs */


/* Form */
.form__input-container {
  margin: .7em 0;
}

.form__input-label {
  display: block;
  margin-bottom: .3em;
}

.form__input {
  border-radius: 3px;
  border: 1px solid var(--border-color);
  padding: .2em .5em;
  width: 100%;
}

/* ./Form */



/* Section header */
.section-header {
  text-align: center;
  font-size: 1.7em;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

/* ./Section header */



/* Badge */
.badge {
  background: var(--product-badge-clr);
  color: var(--light-color);

  font-size: .7em;

  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;

  position: absolute;
  top: -1em;
  right: -1em;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ./Badge */



/* Buttons */
.btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: .3em .7em;

  background: var(--accent-color);
  color: var(--light-color);
}

.btn:hover {
  color: var(--light-color);
  background: var(--accent-color_darker);
}

.post-testimonial {
  display: flex;
  justify-content: center;
}

.btn__testimon {
  background-color: #fff;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  margin-top: 3em;
}

.product__add-to-cart {
  margin-top: 5px;
  padding: .48em .7em;
  border-radius: 7px;
}

/* ./Buttons */



/* Product card */
.product-card {
  transition: .12s;
  transition: box-shadow .12s ease-in-out;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: .3em;
}

.product-card_hoverable:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.product-card__discount {
  background-color: var(--product-badge-clr);
  width: auto;
  height: 1.7rem;
  position: absolute;
  border-radius: 50px;
  display: flex;
  top: -10px;
  left: -10px;
  z-index: 98;
}

.product-card__discounter {
  color: var(--light-color);
  font-size: 1.1em;
  margin-top: 3px;
  margin-left: 3px;
  padding-left: 5px;
  padding-right: 9px;
}

.product-card__img {
  border-radius: 5px;
  overflow: hidden;
}

.product-card__img>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-card__title {
  margin-top: .7em;
  margin-bottom: .2em;
  margin-left: .3em;
  font-size: 1.4em;
}

.product-card__price-old {
  margin-left: .5em;
  color: var(--lighter-color);
  text-decoration: line-through;
}

.product-card__price {
  margin-top: .5em;
  margin-left: .4em;
}

.product-card__nav {
  margin-top: .7em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: .7em;
}

.product-card__nav a {
  text-align: center;
  justify-content: center;
}

.product-card__more {
  display: block;
  margin-left: .5rem;
  border: 1px solid var(--accent-color_lighter);
  border-radius: 3px;
  padding: 3px 5px;
}

.product-card__cart {
  margin-right: .5rem;
}

/* ./Product card */



/* Sidebar */
.sidebar {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 1.5em 1em;
  margin-right: 1.7em;
  min-width: 230px;
  height: fit-content;
  background-color: var(--bg-light);
}

.sidebar__header {
  font-size: 1.3em;
  margin-bottom: .7em;
}

.sidebar__toggle {
  padding: .48em .7em;
  border-radius: 7px;
  font-size: 1.2em;
  text-transform: uppercase;
  display: none;
}

.sidebar__list-item {
  margin: .3em 0;
  padding: .3em .5em;
  cursor: pointer;
}

.sidebar__list-item[data-target]::before {
  content: '';
  background: url(../img/right-arrow.svg);
  height: 15px;
  width: 15px;
  margin-right: .5em;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebar__list-item_open[data-target]::before {
  content: '';
  background: url(../img/down-arrow.svg);
  height: 15px;
  width: 15px;
  margin-right: .5em;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebar__list:not(.sidebar__list_inner),
.sidebar__list_inner.sidebar__list_open {
  margin-top: 1em;
  margin-bottom: .7em;
  z-index: 10;
}

.sidebar__list_inner {
  max-height: 0;
  opacity: 0;
  margin: 0;
}

.sidebar__list_inner * {
  pointer-events: all;
}

.sidebar__list_inner:not(.sidebar__list_open) * {
  margin: 0;
  pointer-events: none;
}

.sidebar__list_open {
  max-height: fit-content !important;
  opacity: 1;
  overflow: visible !important;
}

.sidebar__list-item {
  background: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  margin: .5em 0;
}

.sidebar__list-first_link{
  color: var(--accent-color);
}

.sidebar__list-first_item{
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

/* ./Sidebar */


/* Navbar */
.nav {
  padding: 0.7em 2em;
  background: var(--accent-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  transition: transform 0.2s;
}

.nav * {
  color: #fff;
}

.nav>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logowrap{
  max-width: 2em;
}

.nav__icon {
  width: 1.3em;
}

.nav__collapse-btn {
  display: none;
}

.nav__logo {
  text-decoration: none;
  font-size: 1.7em;
  font-weight: 700;
}

.nav__logo:hover {
  color: var(--dark-color);
}

.nav__menu {
  list-style: none;
  display: flex;
}

.nav a:hover {
  color: var(--light-color);
}

.nav__item:not(:last-child) {
  margin-right: 1em;
}

.nav__link {
  display: block;
  margin-top: 0.3em;
}

.nav__link_discount {
  width: 20px;
}

.nav__link_cart {
  position: relative;
}

/* ./Navbar */



/* Discounts */
.discounts {
  padding-bottom: 2em;
  padding-top: .1em;
  background-color: #ccff90;
}

.discounts>.container {
  padding: 0 35px;
}

/* ./Discounts */


/* Types */
.types {
  padding: 2em 1em;
  background-color: #e1f5fe;
}

.types .items__wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
}

.types .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 1.5em 0;
  text-decoration: none;
  cursor: pointer;
  color: var(--accent-color);
  transition: .12s;
  transition: box-shadow .12s ease-in-out;
  border-radius: 10px;
}

.types .item:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.types .item__img {
  max-height: 70px;
  margin-bottom: .5em;
}

.types .item__text {
  text-align: center;
}

/* / Types */


/* advantages */
.advantages {
  /* background-color: var(--border-color); */
  padding: 2em 0;
  margin-bottom: 3em;
}

.advantages .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantages .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 1em;
}

.advantages .item__desc {
  text-align: center;
  font-size: 1.1em;
  margin-top: .9em;
}

.advantages img {
  max-height: 100px;
  transition: .15s;
}

.advantages img:hover {
  transform: scale(1.07);
}

/* / advantages */

/* Popular */

.popular>.container_flex {
  display: flex;
  justify-content: space-between;
}

.popular__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 1.4em;
}

/* ./Popular */


/* seo text */
.text__block {
  text-align: center;
  margin: 0 auto;
  margin-top: 5em;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--lighter-color);
}

/* ./seo text */


/* main testimonials */

.testimonials {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.swiper-container_testimonials {
  padding: 0;
  height: auto;
}

.testimonial {
  margin: 0 70px;
}

/* Testimonials */

.testimonials__name {
  font-size: 1.4em;
}

.testimonials__txt {
  margin-top: 2em;
  font-size: 1em;
}

/* ./Testimonials */



/* Rating */

.rating {
  margin: 0;
  padding: 0;
  border: none;
}

.rating__group {
  position: relative;
  width: 10em;
  height: 2em;
  background-image: url(../img/star_disabled.svg);
  background-size: 2em auto;
  background-repeat: repeat-x;
}

.rating__group:focus-within {
  outline: solid 2px var(--accent-color_lighter);
}

.rating__star {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  margin: 0;
  font-size: inherit;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-size: 2em auto;
  background-repeat: repeat-x;
}

.rating__star:focus {
  outline: none;
}

.rating__star:checked,
.rating__star:hover {
  background-image: url(../img/start_enabled.svg);
}

.rating__star:hover~.rating__star {
  background-image: url(../img/star_disabled.svg);
}

.rating__star:nth-of-type(1) {
  width: 2em;
  z-index: 5;
}

.rating__star:nth-of-type(2) {
  width: 4em;
  z-index: 4;
}

.rating__star:nth-of-type(3) {
  width: 6em;
  z-index: 3;
}

.rating__star:nth-of-type(4) {
  width: 8em;
  z-index: 2;
}

.rating__star:nth-of-type(5) {
  width: 10em;
  z-index: 1;
}

/* ./Rating */



/* Contacts */

.contacts>.container {
  display: flex;
  justify-content: space-between;
}

.contacts__col_info {
  width: 50%;
}

.contacts__col_map {
  width: 100%;
  height: 370px;
}

.contacts_logowrap{
  max-width: 5em;
}
.contacts__title {
  margin-bottom: .5em;
}

.contacts__description {
  margin-bottom: 1.7em;
}

.contacts__contact {
  display: block;
}

a.contacts__contact>span {
  border-bottom: 1px solid var(--accent-color);
}

.contacts__contact img {
  width: 1.3em;
}

.contacts__contact {
  color: var(--dark-color);
  margin-top: .7em;
}

.contacts__contact_work-time {
  display: flex;
}

.contacts__contact_work-time>span {
  margin-left: .3em;
}

.contacts__contact:not(:last-child) {
  margin-bottom: .7em;
  margin-top: 1em;
}

.contacts__map {
  width: 100%;
  height: 100%;
  border: none;
}

/* ./Contacts */



/* Table */

.table {
  width: 100%;
  border-spacing: 0;
  /* border: 1px solid var(--lighter-color); */
}

.table th {
  font-weight: 700;
  background: var(--bg-light);
  padding: .4em 1em;
  color: var(--dark-color);
  text-align: center;
  border: 1px solid var(--border-color);
}

.table td {
  padding: .4em;
  border-bottom: 1px solid var(--border-color);
}

/* ./Table */



/* Cart */

.cart__remove-cell {
  width: 30px;
}

.cart__remove-item {
  border: none;
  background: none;
  color: var(--lighter-color);
  font-size: 1.3em;
}

.cart__thumbnail-cell {
  width: 100px;
}

.cart__item-thumbnail {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.cart__item-thumbnail>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cart__item-count {
  border: 1px solid var(--border-color);
  width: 3em;
  padding: .3em;
}

.cart__price-all {
  text-align: right;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
  font-weight: 700;
  font-size: 1.2em;
}

.cart__checkout {
  float: right;
  margin-bottom: 1em;
  padding: .48em .7em;
  border-radius: 7px;
}

/* ./Cart */



/* Checkout */

.checkout>.container_flex {
  display: flex;
  justify-content: center;
}

.checkout-col {
  /* margin: 0 1em; */
  padding: 0 1em;
  min-width: 35%;
}

/* ./Checkout */



/* Footer */

.footer {
  background: var(--darker-color);
  color: var(--lighter-color);
  padding: 1em 0;
  margin-top: 3em;
  text-align: center;
}

.footer>.container {
  display: flex;
  /* justify-content: center; */
  text-align: left;
}

.footer__col {
  width: calc(100% / 3);
  padding-left: 6em;
}

.footer__title {
  margin-bottom: .7em;
}

.footer__text {
  color: inherit;
  display: block;
}

.footer__text {
  display: block;
  margin-bottom: .5em;
}

.footer__text>span {
  margin-left: .1em;
}

a.footer__text>span {
  border-bottom: 1px solid var(--lighter-color);
}

.footer__text_work-time>span {
  display: inline-block;
}

.footer__social-link {
  color: inherit;
}

.footer__social-link:not(:last-child) {
  margin-right: .3em;
}

.footer__icon,
.contacts__icon {
  width: 1.3em;
}

.footer__copy {
  padding: .5em;
}

/* ./Footer */



/* Product */
.product {
  margin-top: 1em;
}

.product .product__col_slider .swiper-container_thumbnail {
  max-height: 300px;
}

.product__info {
  display: flex;
  justify-content: center;
}

.product__count {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: .3em;
  margin-right: .7em;
  max-width: 3em;
  display: inline;
}

.swiper-container_thumbnail {
  padding: 0;
}

.product__col_slider {
  max-width: 500px;
  margin-right: 50px;
  margin-left: .5em;
  position: relative;
}

.product__thumbnail {
  border-radius: 3px;
  display: block;
  width: 100%;
  height: 300px;
}

.product__thumbnail>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
}

.product__title {
  margin-bottom: .1em;
  font-size: 1.7em;
}

.product__description {
  font-size: 1.1em;
  padding-bottom: .6em;
}

.product__col_info {
  max-width: 500px;
}

.product__col_info>p,
.product__rating {
  margin-bottom: .5em;
}

.product__rating_txt,
.product__instock,
.product__pay,
.product__delivery,
.product__delivery2 {
  font-size: .9em;
  color: var(--lighter-color);
  margin-bottom: 1em;
}

.product__form {
  margin: .9em 0;
}

.product__price_old {
  display: inline-block;
  color: var(--lighter-color);
  text-decoration: line-through;
}

.product__price {
  display: inline-block;
  font-weight: bold;
  margin-bottom: -6px;
}

.product__pay {
  display: block;
  padding-bottom: 1em;
}

.product__delivery {
  display: block;
  margin-bottom: 0;
}

.product__delivery2,
.product__pay {
  color: var(--accent-color_lighter);
}

.product__details {
  margin-top: 4rem;
}

.product__details-title-container {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1em;
}

.product__details-title-item {
  border: none;
  width: 100%;
  padding: 1em 0;
  background: var(--bg-light);
  color: var(--dark-color);
  font-weight: 700;
  font-size: 1.1em;
}

.product__details-title-item:nth-child(2) {
  padding-left: .9em;
  padding-right: .9em;
}

.product__details-title-item:not(:last-child) {
  border-right: 1px solid #d1d1d1;
}

.product__details-title-item:focus {
  outline: none;
}

.product__details-title-item:hover,
.product__details-title-item:focus,
.product__details-title-item_active {
  background: var(--bg-light2);
  color: var(--accent-color_lighter);
  /* text-decoration: underline; */
}

.product__details-text-container {
  margin-top: .5em;
}

.product__details-text-item {
  display: none;
}

.product__details-text-item_active {
  display: block;
}

.product__review {
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.product__review-form {
  margin-top: 1em;
}

.product__review-title {
  margin-bottom: 0.7em;
}

.testimonials__username,
.testimonials__mail,
textarea {
  display: block;
  min-width: 300px;
  min-height: 25px;
}

/* product counter */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.counter {
  display: inline;
  max-width: 25px;
}

.counter button {
  width: 30px;
  background-color: #fff;
  color: #1780f0;
  border: none;
  font-size: 25px;
  margin: 0px 1px;
  border-radius: 5px;
}

.counter button:hover {
  background-color: #1780f0;
  color: #fff;
  border: none;
  font-size: 25px;
}

.fieldCount {
  max-width: 50px;
  text-align: center;
  height: 27px;
  padding: 0 0;
}

/* / counter */
/* ./Product */


/* PAGE TESTIMONIAL */

.testimonial-page__input {
  display: block;
  padding: 0.3em 0.5em;
  width: 300px;
}

.testimonial-page .rating {
  margin-top: 0.3em;
}

.testimonial-page__submit {
  margin-top: 1em;
}

/* ./PAGE TESTIMONIAL */



/* PAGE CATEGORY */
.category__preview {
  margin: 2em 1em;
}

.category__preview .container {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-light2);
  border-radius: 20px;
  padding: 2em;
}

.category__preview .preview__img {
  margin-right: 3em;
  min-width: 45%;
}

.category__preview .preview__img>img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.category__preview img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.category__preview .preview__title {
  font-size: 2em;
  line-height: .7;
  color: var(--accent-color);
  margin-bottom: .4em;
}

.category__preview .preview__text {
  font-size: 1.5em;
}

/* /testimonials stars */

/* /PAGE TESTIMONIAL */




/* PAGE CATEGORY */
.category__preview {
  margin: 2em 1em;
}

.category__preview .container {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-light2);
  border-radius: 20px;
  padding: 2em;
}

.category__preview .preview__img {
  margin-right: 3em;
}

.category__preview img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.category__preview .preview__title {
  font-size: 2em;
  line-height: .7;
  color: var(--accent-color);
  margin-bottom: .4em;
  text-transform: uppercase;
}

.category__preview .preview__text {
  font-size: 1.3em;
}

/* / PAGE CATEGORY */

/* PAGE 404 */
.error_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 54px);
}

.error_page img {
  max-height: 30vh;
}

.error__text,
.error__cta {
  margin: 1em 0;
  text-align: center;
}

.error__btns {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  justify-content: space-around;
}

/* / PAGE 404 */



/* MEDIA QWERIES */

@media (max-width: 1240px) {
  .product-card__nav {
    display: block;
    margin: 0;
    padding: 0;
  }

  .product-card__btn {
    box-sizing: border-box;
    display: block;
    padding: 0.5em 1em;
    margin: 0.5em;
  }
}

@media (max-width: 1200px) {
  .popular__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1020px) {
  html {
    font-size: 18px;
  }

  .popular__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .category__preview {
    margin: 1em .5em;
  }

  .category__preview .preview__title {
    font-size: 2em;
  }

  .category__preview .preview__text {
    font-size: 1.2em;
  }
}

@media (max-width: 992px) {
  .category__preview .container {
    flex-direction: column;
    background-color: var(--bg-light2);
    border-radius: 20px;
    padding: 2em;
  }

  .category__preview .preview__title {
    margin-top: 1em;
  }

  .category__preview {
    margin: 1em .5em;
  }

  .category__preview .preview__title {
    font-size: 2em;
  }

  .category__preview .preview__text {
    font-size: 1.2em;
  }

  .types .item {
    width: 33%;
  }

  .product .product__col_slider {
    margin-right: 1em;
    max-width: 452px;
  }

  .product__count {
    margin-right: .3em;
  }
}


@media (max-width: 820px) {
  .main-title {
    margin-top: 1.3em;
  }

  .popular>.container {
    flex-direction: column;
  }

  .nav {
    padding: 1em;
  }

  .product-card__excerpt {
    display: none;
  }

  .sidebar {
    margin-right: 0;
    margin-bottom: 2em;
  }

  .sidebar__header {
    display: none;
  }

  .sidebar__toggle {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .sidebar__list {
    max-height: 0;
    margin: 0 !important;
    overflow: hidden;
  }

  .contacts>.container {
    display: block;
  }

  .contacts__col {
    width: 100%;
  }

  .contacts__col_map {
    margin-top: 1.7em;
  }

  .cart__item-thumbnail {
    max-width: 200px;
    max-height: 200px;
    margin-right: auto;
  }

  .checkout>.container_flex {
    flex-direction: column;
    justify-content: flex-start;
  }

  .checkout-col {
    margin: 0 0;
    /* padding: 0 1em; */
  }

  .checkout-col_order {
    order: 1;
    margin-bottom: 2.5em;
  }

  .checkout-col_payment {
    order: 2;
  }

  .product__info {
    display: block;
  }

  .product__col_slider {
    max-width: 100%;
    margin: 0 auto !important;
  }

  .product__title {
    margin-top: 1em;
  }

  .table_responsive thead {
    display: none;
  }

  .table_responsive tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }

  .table_responsive td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
  }

  .table_responsive td::before {
    content: attr(aria-label);
    float: left;
  }

  .cart__remove-cell {
    text-align: center !important;
  }

  .footer>.container {
    display: block;
  }

  .footer__col {
    width: 100%;
    font-size: 0.9em;
    padding-left: 1em;
  }

  .footer__col:not(:last-child) {
    margin-bottom: 1.1em;
  }

  .footer__title {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }

  .footer__text:not(:last-child) {
    margin-bottom: 0.9em;
  }

  .footer__social-link {
    font-size: 2em;
  }

  .testimonials__name {
    font-size: 1.2rem;
  }

  .product__col_info {
    max-width: 100%;
  }

  .product-card__discount {
    top: -5px;
    left: -5px;
  }

  .category__preview .container {
    padding: 1em;
  }

  .category__preview .preview__img {
    margin-right: 0;
  }

  .category__preview .preview__title {
    font-size: 1.5em;
  }

  .category__preview .preview__text {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .advantages .container {
    flex-direction: column;
  }

  .advantages .item {
    flex-direction: row;
    max-width: 100%;
    margin-top: 1em;
  }

  .advantages .item__desc {
    font-size: 1em;
    margin-right: 0;
    margin-left: 1em;
  }

  .product .container {
    padding: 2em;
  }
}

@media (max-width: 543px) {
  .nav>.container {
    flex-direction: column;
  }

  .nav__logo {
    display: block;
    margin-bottom: 0.3em;
  }

  .popular__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonial {
    margin: 0 45px;
  }

  .testimonial-page__input {
    width: 100%;
  }

  .product .container {
    padding: 1em;
  }

  .product__col_slider {
    margin: 0 .5em;
  }

  .testimonials__name {
    font-size: 1.1rem;
  }

  .testimonials__txt {
    font-size: .9em;
  }

  .category__preview {
    margin: .4em .5em;
  }

  .category__preview .container {
    padding: .5em;
  }

  .advantages img {
    max-height: 80px;
  }

  .category__preview .preview__title {
    font-size: 1.2em;
  }

  .category__preview .preview__text {
    font-size: 1em;
  }

  .types .items__wrap {
    padding: 1em .5em;
  }

  .types .item {
    width: 50%;
  }

  .discounts .container {
    padding-left: 1em;
    padding-right: 1em;
  }

  textarea {
    min-width: unset;
  }

  .similar .container {
    padding: 0 1em;
  }

  .popular .container_flex {
    padding: 0 .5em;
  }
}

@media (max-width: 450px) {
  .product__details-title-item {
    font-size: 0.9em;
    padding: .5em 0;
  }

  .product__details-title-item:nth-child(2) {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  .advantages img {
    max-height: 60px;
  }
}